<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyshot.app.mapper.AreaZipcodeMapper">

    <resultMap id="BaseResultMap" type="com.joyshot.app.entity.AreaZipcode">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="zipcode" column="zipcode" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="cityArea" column="city_area" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,zipcode,city,
        city_area
    </sql>
</mapper>
