<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyshot.app.mapper.InstagramPostMapper">

    <resultMap id="BaseResultMap" type="com.joyshot.app.entity.InstagramPost">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="igImageUuid" column="ig_image_uuid" jdbcType="VARCHAR"/>
            <result property="igUrl" column="ig_url" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="modifiedAt" column="modified_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ig_image_uuid,ig_url,
        title,created_at,modified_at
    </sql>
</mapper>
