<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyshot.app.mapper.OrderHistoryMapper">

    <resultMap id="BaseResultMap" type="com.joyshot.app.entity.OrderHistory">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="orderAction" column="order_action" jdbcType="VARCHAR"/>
            <result property="actionDetail" column="action_detail" jdbcType="VARCHAR"/>
            <result property="execBy" column="exec_by" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,order_action,
        action_detail,exec_by,created_at
    </sql>
</mapper>
