<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyshot.app.mapper.RoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.joyshot.app.entity.RoleMenu">
        <id property="roleId" column="role_id" jdbcType="INTEGER"/>
        <id property="menuId" column="menu_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,menu_id
    </sql>

    <select id="selectMenuShortCut" resultType="com.joyshot.app.entity.Menu">
        Select m.*
        from role_menu lrm, menu m
        where lrm.menu_id = m.id
          and lrm.role_id = #{roleId}
          and m.parent_id is not null
          and m.is_deleted = 0
    </select>


</mapper>
